/* BASIC STYLES HERE */

body {
    background-image: url(https://img.freepik.com/premium-photo/grungy-textured-blank-surface-abstract-grey-background-dirty-poster-wallpaper-with-rough-grained-sto_124507-10829.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703289600&semt=ais);
    background-position: center;
    background-size: cover;
}

.background-fade {
    background-color: #80808073;
    height: 100vh;
}


.profile {
    height: 30vh;
    width: 15vw;
    margin-bottom: 5vh;
    filter: drop-shadow(10px 7px 10px black)
}

@media(max-width: 767px) {
    .profile {
        height: 30vh;
        width: 50vw;
    }
}

/* TODO play around with this linear gradient */

/* .languages-header {
    background-image: linear-gradient(to left, yellow, teal);
    background-size: 75%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .header {
    border-right: dashed #ffa600a8;
    padding-right: 1rem;
} */

.options {
    font-size: 2rem;
    text-shadow: 1px 1px 5px black;
    border: none;
}

.options:hover {
    font-size: 2.05rem;
    text-shadow: 1px 1px 7px #ffa600a8;
    transition: .3s ease-in-out;
    border: none;
}

.languages {
    height: 15vh;
    width: 10vw;
}

.text-shadow {
    text-shadow: 1px 1px 5px black;
    /* color: yellow */
}

.project-name {
    background-color: rgba(46, 46, 46, 0.452);
    max-width: 10vw;

}

@media(max-width: 767px) {
    .project-name {
        max-width: 90vw;
    }
}

.secondary {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.project-text {
    background-color: rgba(46, 46, 46, 0.452);
    text-shadow: 1px 1px 5px black;
    border-radius: 30px;
    height: 12rem;
}

@media(max-width: 767px) {
    .project-text {
        height: 22rem;
    }
}

.project-image {
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 2px 2px white;
    transition: ease-in-out .5s;
}

@media(max-width: 767px) {
    .project-image {
        visibility: visible;
        opacity: 1;
    }
}

.project-text:hover+.project-image {
    visibility: visible;
    opacity: 1;
    transition-duration: 1s;
    box-shadow: 2px 6px 6px black;
}

.overflow {
    overflow-y: auto;
    height: 100vh;
}

.language-img {
    height: 25vh;
    width: 20vw;
}


@media(max-width: 767px) {
    .language-img {
        height: 20vh;
        width: 40vw;
    }
}

.mdi-arrow-left-thick {
    font-size: 7rem;
    margin-left: 5rem;
}

@media(max-width: 767px) {
    .mdi-arrow-left-thick {
        font-size: 3rem;
        margin-left: 0;
    }
}


.mdi-arrow-right-thick {
    font-size: 7rem;
    margin-right: 5rem;
}

@media(max-width: 767px) {
    .mdi-arrow-right-thick {
        font-size: 3rem;
        margin-right: 0;
    }
}

.story-color {
    color: #ffa600a8;
}

.story-border {
    border-top: thin solid #ffa600a8;
    padding-top: 1.5rem;
}

/* @media(prefers-reduced-motion: no-preference) { */
.fade-in {
    scale: .5;
    opacity: .1;
    animation: fade-in linear forwards;
    animation-timeline: view(5vh);
}


@keyframes fade-in {

    to {
        scale: 1.2;
        opacity: 2;

    }

    /* } */

    /* ::-webkit-scrollbar-thumb {
    background-color: #2ca58d;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #2E3233;
} */
}